
    <div class="page-header clear-filter" filter-color="black">
        <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('../../assets/img/img_reclamations.jpg');">
    
        </div>
          <div class="container">
              <div class="content-center brand">
                  <h1 class="h1-seo">Nos services</h1>
                  <h3>Une question sur une prestation? un produit? Nos équipes s'engagent à vous répondre au plus vite !</h3>
              </div>
          </div>
      </div>

      <!-- https://angular.io/guide/dynamic-form-->

      <div class="row justify-content-md-center">
        <div class="col-sm-9">
            <div class="card" >
                <div class="card-header">
                    <h4 class="card-title" style="text-align: center;"> Formulaire de prise de contact</h4>
                  </div>
                <form>  
        <!-- Nom, prénom et email-->
        <div class="form-row">
            <div class="form-group col-sm-3">
                <label for="inputNom">Nom</label>
                <input type="text" class="form-control" id="inputNom" placeholder="Nom">
            </div>
        
            <div class="form-group col-sm-3">
                <label for="inputPrenom">Prenom</label>
                <input type="text" class="form-control" id="inputPrenom" placeholder="Prenom">
            </div>
    
            <div class="form-group col-sm-4">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
            </div>
        </div>
    
    
        
        <!-- -->
        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="inputDemande">Type de la demande</label>
            <select id="inputDemande" class="form-control">
                <option selected>Choose...</option>
                <option>Plainte</option>
                <option>Concerne le personnel</option>
                <option>Question sur un produit</option>
            </select>
          </div>
    
          <div class="form-group col-md-8">
            <label for="inputDemande">Intitulé de la question</label>
            <textarea class="form-control" placeholder="Here can be your nice text" rows="5"></textarea>
          </div>

          
    
            
        </div>
    
    
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                Check me out
                <span class="form-check-sign">
                  <span class="check"></span>
                </span>
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
    
    
                </form>
            </div>
        </div>
    </div>







<!-- Footer template-->
<div class="row justify-content-md-center sharing-area text-center">
    <div class="text-center col-md-12 col-lg-8">
      <h3>Thank you for supporting us!</h3>
    </div>
    <div class="text-center col-md-12 col-lg-8">
      <a target="_blank" href="https://www.twitter.com/creativetim" class="btn btn-neutral btn-icon btn-twitter btn-round btn-lg" rel="tooltip" title="Follow us">
        <i class="fab fa-twitter"></i>
      </a>
      <a target="_blank" href="https://www.facebook.com/creativetim" class="btn btn-neutral btn-icon btn-facebook btn-round btn-lg" rel="tooltip" title="Like us">
        <i class="fab fa-facebook-square"></i>
      </a>
      <a target="_blank" href="https://www.linkedin.com/company-beta/9430489/" class="btn btn-neutral btn-icon btn-linkedin btn-lg btn-round" rel="tooltip" title="Follow us">
        <i class="fab fa-linkedin"></i>
      </a>
      <a target="_blank" href="https://github.com/creativetimofficial/now-ui-kit-angular" class="btn btn-neutral btn-icon btn-github btn-round btn-lg" rel="tooltip" title="Star on Github">
        <i class="fab fa-github"></i>
      </a>
    </div>
    </div>
    <footer class="footer" data-background-color="black">
    <div class="container">
    <nav>
    <ul>
      <li>
          <a href="https://www.creative-tim.com">
              Creative Tim
          </a>
      </li>
      <li>
          <a href="https://www.creative-tim.com/about-us">
              About Us
          </a>
      </li>
      <li>
          <a href="http://blog.creative-tim.com">
              Blog
          </a>
      </li>
      <li>
          <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
              MIT License
          </a>
      </li>
    </ul>
    </nav>
    <div class="copyright">
    &copy;
    {{data | date: 'yyyy'}}, Designed by
    <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
    <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
    </div>
    </div>
    </footer>
    
    
    
    
