
<!-- Header template-->
<div class="page-header clear-filter" filter-color="black">
    <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('../../assets/img/img_index.jpg');">
    </div>
      <div class="container">
          <div class="content-center brand">
              <h3>Bienvenue chez vous !</h3>
          </div>
      </div>
</div>



<div class="row">
  <div class="col-sm-12">
    <div class="card" >
      <div class="card-header" style="text-align: center;">
        <h4 class="card-title" style="text-align: center;"> Notre équipe de professionnels est prête à vous accueillir</h4>
      </div>
    </div>

     
      <div class="section" id="carousel">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-6">
                  <img src="../../assets/img/equipe.jpg" alt="First slide">
                </div>
            </div>
        </div>
    </div>
  </div>
</div>



<!-- Prestations/Produits-->
<div class="row">
  <div class="col-sm-12">
    <div class="card" >
      <div class="card-header" style="text-align: center;">
        <h4 class="card-title" style="text-align: center;"> Une gamme de prestations et produits à la vente de qualité</h4>
      </div>
     <!-- Carousel -->
      <div class="section" id="carousel">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-8">
                  <ngb-carousel>
                      <ng-template ngbSlide>
                        <img class="d-block" src="../../assets/img/img_coiffure.jpg" alt="First slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Coupe femmes et hommes</h5>
                        </div>
                      </ng-template>
                      <ng-template ngbSlide>
                        <img class="d-block" src="../../assets/img/img_couleur2.jpg" alt="Second slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Couleurs</h5>
                        </div>
                      </ng-template>
                      <ng-template ngbSlide>
                        <img class="d-block" src="../../assets/img/img_soirée3.jpeg" alt="Third slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Coiffures de soirée</h5>
                        </div>
                      </ng-template>

                      <ng-template ngbSlide>
                        <img class="d-block" src="../../assets/img/img_brosse2.jpg" alt="Fourth slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Articles de coiffure</h5>
                        </div>
                      </ng-template>
                  </ngb-carousel>
                </div>
            </div>
        </div>
    </div>
    </div>
  </div>
</div>




<!-- Footer template-->
<div class="row justify-content-md-center sharing-area text-center">
    <div class="text-center col-md-12 col-lg-8">
      <h3>Thank you for supporting us!</h3>
    </div>
    <div class="text-center col-md-12 col-lg-8">
      <a target="_blank" href="https://www.twitter.com/creativetim" class="btn btn-neutral btn-icon btn-twitter btn-round btn-lg" rel="tooltip" title="Follow us">
        <i class="fab fa-twitter"></i>
      </a>
      <a target="_blank" href="https://www.facebook.com/creativetim" class="btn btn-neutral btn-icon btn-facebook btn-round btn-lg" rel="tooltip" title="Like us">
        <i class="fab fa-facebook-square"></i>
      </a>
      <a target="_blank" href="https://www.linkedin.com/company-beta/9430489/" class="btn btn-neutral btn-icon btn-linkedin btn-lg btn-round" rel="tooltip" title="Follow us">
        <i class="fab fa-linkedin"></i>
      </a>
      <a target="_blank" href="https://github.com/creativetimofficial/now-ui-kit-angular" class="btn btn-neutral btn-icon btn-github btn-round btn-lg" rel="tooltip" title="Star on Github">
        <i class="fab fa-github"></i>
      </a>
    </div>
</div>
<footer class="footer" data-background-color="black">
    <div class="container">
    <nav>
    <ul>
      <li>
          <a href="https://www.creative-tim.com">
              Creative Tim
          </a>
      </li>
      <li>
          <a href="https://www.creative-tim.com/about-us">
              About Us
          </a>
      </li>
      <li>
          <a href="http://blog.creative-tim.com">
              Blog
          </a>
      </li>
      <li>
          <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
              MIT License
          </a>
      </li>
    </ul>
    </nav>
    <div class="copyright">
    &copy;
    {{data | date: 'yyyy'}}, Designed by
    <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
    <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
    </div>
    </div>
</footer>
