
<!-- Header template-->
<div class="page-header clear-filter" filter-color="black">
    <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('../../assets/img/img_index.jpg');">
    </div>
      <div class="container">
          <div class="content-center brand">
              <h3>Notre équipe est impatiente de vous accueillir</h3>
          </div>
      </div>
</div>

<h3>Une gamme de prestations et produits à la vente de qualité</h3>
<!-- Images prestations dans le carousel-->
<div class="section" id="carousel">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
              <ngb-carousel>
                  <ng-template ngbSlide>
                    <img class="d-block" src="assets/img/bg1.jpg" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Nature, United States</h5>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <img class="d-block" src="assets/img/bg3.jpg" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Somewhere Beyond, United States</h5>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <img class="d-block" src="assets/img/bg4.jpg" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Yellowstone National Park, United States</h5>
                    </div>
                  </ng-template>
              </ngb-carousel>
            </div>
        </div>
    </div>
</div>
<!-- Images produits dans le carousel-->
<div class="section" id="carousel">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
              <ngb-carousel>
                  <ng-template ngbSlide>
                    <img class="d-block" src="assets/img/bg1.jpg" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Nature, United States</h5>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <img class="d-block" src="assets/img/bg3.jpg" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Somewhere Beyond, United States</h5>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <img class="d-block" src="assets/img/bg4.jpg" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Yellowstone National Park, United States</h5>
                    </div>
                  </ng-template>
              </ngb-carousel>
            </div>
        </div>
    </div>
</div>

<h3>Plus de X salons en France (bonus google maps</h3>
<!-- https://angular-maps.com/guides/getting-started/#setting-up-angular-google-maps-->

<!-- Section avis-->
<div class="site-section bg-light">
    <div class="container">
      <div class="row justify-content-center text-center mb-5">
        <div class="col-7 text-center mb-5">
          <h2 class="scissors text-center">Our Top Client Says</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo assumenda, dolorum necessitatibus eius earum voluptates sed!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 mb-4 mb-lg-0">
          <div class="testimonial-2">
            <div class="d-flex v-card align-items-center mb-4">
              <img src="images/person_1.jpg" alt="Image" class="img-fluid mr-3">
              <span>Mike Fisher</span>
            </div>
            <blockquote>
              <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, deserunt eveniet veniam. Ipsam, nam, voluptatum"</p>
            </blockquote>
            
          </div>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0">
          <div class="testimonial-2">
            <div class="d-flex v-card align-items-center mb-4">
              <img src="images/person_2.jpg" alt="Image" class="img-fluid mr-3">
              <span>Jean Stanley</span>
            </div>
            <blockquote>
              <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, deserunt eveniet veniam. Ipsam, nam, voluptatum"</p>
            </blockquote>
            
          </div>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0">
          <div class="testimonial-2">
            <div class="d-flex v-card align-items-center mb-4">
              <img src="images/person_3.jpg" alt="Image" class="img-fluid mr-3">
              <span>Katie Rose</span>
            </div>
            <blockquote>
              <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, deserunt eveniet veniam. Ipsam, nam, voluptatum"</p>
            </blockquote>
            
          </div>
        </div>
      </div>
    </div>
</div>








<!-- Footer template-->
<div class="row justify-content-md-center sharing-area text-center">
    <div class="text-center col-md-12 col-lg-8">
      <h3>Thank you for supporting us!</h3>
    </div>
    <div class="text-center col-md-12 col-lg-8">
      <a target="_blank" href="https://www.twitter.com/creativetim" class="btn btn-neutral btn-icon btn-twitter btn-round btn-lg" rel="tooltip" title="Follow us">
        <i class="fab fa-twitter"></i>
      </a>
      <a target="_blank" href="https://www.facebook.com/creativetim" class="btn btn-neutral btn-icon btn-facebook btn-round btn-lg" rel="tooltip" title="Like us">
        <i class="fab fa-facebook-square"></i>
      </a>
      <a target="_blank" href="https://www.linkedin.com/company-beta/9430489/" class="btn btn-neutral btn-icon btn-linkedin btn-lg btn-round" rel="tooltip" title="Follow us">
        <i class="fab fa-linkedin"></i>
      </a>
      <a target="_blank" href="https://github.com/creativetimofficial/now-ui-kit-angular" class="btn btn-neutral btn-icon btn-github btn-round btn-lg" rel="tooltip" title="Star on Github">
        <i class="fab fa-github"></i>
      </a>
    </div>
</div>
<footer class="footer" data-background-color="black">
    <div class="container">
    <nav>
    <ul>
      <li>
          <a href="https://www.creative-tim.com">
              Creative Tim
          </a>
      </li>
      <li>
          <a href="https://www.creative-tim.com/about-us">
              About Us
          </a>
      </li>
      <li>
          <a href="http://blog.creative-tim.com">
              Blog
          </a>
      </li>
      <li>
          <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
              MIT License
          </a>
      </li>
    </ul>
    </nav>
    <div class="copyright">
    &copy;
    {{data | date: 'yyyy'}}, Designed by
    <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
    <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
    </div>
    </div>
</footer>
